* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar {
  width: 85vw;
  height: 50vh;
  border: 2px solid black;
}
.month {
  width: 100%;
  height: 12vh;
  background-color: rgb(134, 189, 235);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.date p {
  font-size: 1.3em;
  padding-top: 1.3vh;
}
.arrows {
  font-size: 2em;
}
.weekdays {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  color: rgb(34, 114, 179);
  padding: 0 0.5vw;
}
.weekdays div {
  font-size: 1.1rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  width: calc(84vw / 7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.days {
  width: 86vw;
  display: flex;
  margin: 0;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5vw;
}
.days div {
  font-size: 1.1rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  width: calc(84vw / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  outline: 1px solid #036cdb;
}
@media (min-width: 700px) {
  .weekdays div {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 0.3rem;
  }
  .calendar {
    width: 85vw;
    height: 85vh;
    border: 2px solid black;
  }
  .weekdays {
    height: 10vh;
  }
  .days div {
    height: 5rem;
  }
}
